@model AboutFormVm

@section Header {
    
    <h1>About Us</h1>
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create</h3>
        </div>


        <form asp-controller="About" asp-action="Create">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Enter About Us Information">
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Enter Description">
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    
}