@using Microsoft.AspNetCore.Identity
@using Sun.DAL.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav w-100">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name.Split("@")[0]</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <div class="primary-links d-flex ms-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#Product">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#package">Pakages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#professional">Our Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Privacy#formData">Booking</a>
        </li>
    </div>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
