@model PackageDetailsVm
@section Header {

    <h1>Package Details</h1>
}

<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">@Model.Name Details</h3>
        </div>
        <div class="card-body">

            <li>Status: @(Model.IsDeleted ? "Active" : "Deleted")</li>
            <br>
            <li>CreatedAt: @Model.CreatedAt</li>
        </div>

    </div>
</div>